block content
  div(class='container')
    h1 Contacts
    div(class='username') User: #{username}
    ul(data-role='listview')
      each contact in contacts
        li
          a(onclick="abook.clickContactShow('#{contact._id}')") #{contact.name}
    button(id='button-contact-add-new') Add New Contact
    button(id='button-logout') Logout