block content
  div(class='container')
    form(data-ajax='false')
      h2 Contacts Demo
      if (msg)
        p(class='highlight') #{msg}
      label Username
      input(id='username' type='text' name='username')
      br
      label Password
      input(id='password' type='password' name='password')
      br
    button(onclick='abook.clickLogin()') Login
    if (error)
      p(class='alert') Error: #{error}
    p Not Registered yet?
    button(onclick='abook.clickRegister()') Register here
