block content
  div(class='container')
    form(data-ajax='false')
      h2 Register
      label Username *
      input(id='username', type='text', name='username', value='#{username}')
      br
      label Password *
      input(id='password', type='password', name='password')
      br
      label Email address *
      input(id='email', type='text', name='email', value='#{email}')
      p * = Mandatory
      br
    button(onclick='abook.clickRegisterForm()') Register
    button(onclick='abook.clickRegisterCancel()') Cancel
    if (error)
      p(class='alert') Error: #{error}