body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.container {
  border: 1px solid #808080;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 300px;
}
.alert {
  color: #f00;
}
.no-link {
  text-decoration: none;
}
.user-logout-float {
  height: 50px;
}
.username-left {
  display: inline-block;
  float: left;
}
.logout-right {
  display: inline-block;
  float: right;
}
.add-contact {
  margin-top: 20px;
}
