body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.add-contact {
  margin-top: 20px;
}
.container {
  border: 1px solid #808080;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 30px;
  width: 300px;
}
.alert {
  color: #f00;
}
.highlight {
  color: #008000;
}
.msgbox {
  height: 30px;
}
.msgbox .highlight {
  float: left;
}
.msgbox .back {
  float: right;
}
.username {
  margin-bottom: 20px;
}
