body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.add-contact
  margin-top 20px

.container
  border 1px solid #808080
  border-radius 4px
  margin-left auto
  margin-right auto
  margin-top 30px
  padding 30px
  width 300px

.alert
  color red

.display-control .container
  display none

.ui-mobile-viewport.display-control .container
  display block

.logout-right
  display inline-block
  float right

.no-link
  text-decoration none

.user-logout-float
  height 50px

.username-left
  display inline-block
  float left

